# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Visualizer.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\RyunosukeHirai\BodyPixBarracuda\Assets\BodyPix\Visualizer\.idea\.idea.Visualizer.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
